img {
  width: 130px;
  border-radius: 50%;
  padding-top: 8px;
}

body {
  background-color: rgb(250,250,250);
  font-family: 'roboto', sans-serif;
  color: rgb(70,70,70);
  font-size: 16px;
  line-height: 15px;
}

p {
  font-weight: 300;
  line-height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

h1 {
  color: #79AD75;
  font-size: 24px;
}

h2 {
  color: #BADBB2;
  font-size: 18px;
}

h3 {
  color: #BADBB2;
  font-size: 15px;
}

a {
  color: #D56671;
}
/*
a:hover {
  color: #E59FA6;
}*/
ul {
  padding-left: 0px;
  padding-top: 10px;
}

li {
  line-height: 20px;
  list-style: none;
  display: inline-block;
}

li a {
  padding: 10px;
}

i {
  height: 20px;
  width: 20px;
  line-height: 20px;
}

.container {
  width: 740px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.card {
  margin: 20px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background: #FBFBFC;
}

.red-button {
  color: #FBFBFC;
  background-color: #D56671;
  border-radius: 5px;
  text-decoration: none;
  padding: 7px 10px;
  margin: 20px 15px;
  text-align: center;
}

.red-button:hover {
  background-color: #E59FA6;
}

.green-button {
  color: #FBFBFC;
  background-color: #79AD75;
  border-radius: 5px;
  text-decoration: none;
  padding: 6px 10px;
  margin: 20px 15px;
  text-align: center;
}

.green-button:hover {
  background-color: #9CC299;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  h2 {
    line-height: 20px;
  }
  .green-button {
    margin: 7px;
  }
}
